# IntelliJ IDEA
.idea/
.vscode/
*.iml
out/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/

# Dependency directories
node_modules/
npm-debug.log

# Spring Boot specific files
*.pid
.env

# Maven Status
.mvn/
target/maven-status/